.color-gris {
    background-color: rgb(245, 243, 242) ;
   
}

.color-rosa {
    background-color:rgb(255, 233, 227) ;
}

.color-verde {
    background-color: rgb(212, 228, 224);
}

.color-verdeoscuro {
    background-color: rgb(163, 199, 189);
}

.social {
    position: fixed ;
    right: 0%;
    top: 40%;
    width: 60px;
    background-color: rgb(2, 2, 2);
}

.social a {
    display: block;
    color: white;
    padding: 15px;
}
footer {
    background-color: rgb(53, 53, 61);
    color:blanchedalmond;    
}
#nombrebot {
    text-align: center;
    font-family:'Anton', sans-serif;
}
#iconito {
    color: blanchedalmond;
    }